@model ProductModel
@section Title{
    <a>פרטים</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
    </svg>
}
@{
    ViewData["Title"] = "More Details";
}
<link href="~/css/ImageSize.css" rel="stylesheet" />
<div>
    Title: @Model.Title
</div>
<div>
    Short Description: @Model.ShortDescription
</div>
<div>
    Date:  @Model.Date
</div>
<div class="img-thumbnail ImageSizeCss d-inline-block">
    @if (Model.Picture1 != null)
    {
<img src="data:image/png;base64,@Convert.ToBase64String(Model.Picture1)" class=" CustomeImage rounded img-fluid p-0" />}
</div>
<div class="img-thumbnail ImageSizeCss d-inline-block">
    @if (Model.Picture2 != null)
    {
<img src="data:image/png;base64,@Convert.ToBase64String(Model.Picture2)" class=" CustomeImage rounded img-fluid p-0" />}
</div>
<div class="img-thumbnail ImageSizeCss d-inline-block">
    @if (Model.Picture3 != null)
    {
<img src="data:image/png;base64,@Convert.ToBase64String(Model.Picture3)" class=" CustomeImage rounded img-fluid p-0" />}
</div>
<div>
    Long Description:  @Model.LongDescription
</div>
<div>
    Price: @Model.Price
</div>
<div>
    State:  @Model.State
</div>